/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "bootstrap-sprockets";
 // @import "bootstrap";
.title{
  text-align: center;
  padding: 20px;
}
.card{
  margin-top: 110px !important;
}
tbody:hover{
  background: rgba(232, 223, 223, 0.52);
  a{
    color: black !important;
  }
}
a{
  text-decoration: none !important;
}
.card-img{
  margin-top: 20px;
}
.mv{
  margin: auto;
}
